# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
*.egg-info/
.eggs/
htmlcov/

# Logs
*.log

# Database
*.sqlite
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan
*.tfplan.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terragrunt-cache/